<% if current_user %><br>
  <%= render 'list' %>
<% else %>
  <h1>Hello, Rails!</h1>
  <%= link_to 'Sign In', new_user_session_path %>|
  <%= link_to 'Sign Up', new_user_registration_path %><br>
<% end %>