<%= stylesheet_link_tag 'style.css' %>
<html>
<body>
<div class="container" %>
<h3>New Article</h3>
<%= render 'form' %>
<a class="btn btn-info" <%= link_to 'Back', articles_path %></a>
</body>
</html>